{% load widget_tweaks %}

<html>
<head>
   <title>Gráfico de Cotações de Moedas</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
   <style>
      /* Adicione estilos personalizados aqui */
      .center-content {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         height: 100vh;
      }
      .center-content h1 {
      text-align: center;
   }
   .form-field{
  width: 50%; /* Ajuste o valor de largura conforme necessário */
}
      /* Estilo para o contêiner do gráfico */
      #chart-container {
         min-width: 400px;
         height: 400px;
      }
      
   </style>
</head>

<body class="center-content">
   <div class="container">
      <h1>Gráfico de Cotações de Moedas</h1>
      <form method="get" id="filter-form">
         <table class="table">
            <tr>
               <th>{{ search_form.start_date.label_tag }}</th>
               <th>{{ search_form.end_date.label_tag }}</th>
               <th>{{ search_form.code.label_tag }}</th>
            </tr>
            <tr>
               <td>{% render_field search_form.start_date type="date" class="form-control" %}</td>
               <td>{% render_field search_form.end_date type="date" class="form-control" %}</td>
               <td>{{ search_form.code}}</td>
               <td colspan="3">
                  <input type="submit" value="Filtrar" class="btn btn-primary">
               </td>
            </tr>
            <tr>
               <td>{{ search_form.start_date.errors }}</td>
               <td>{{ search_form.end_date.errors }}</td>
               <td>{{ search_form.code.errors }}</td>
            </tr>
            <tr>
               
            </tr>
         </table>
      </form>      
   </div>

   <!-- Contêiner para o gráfico -->
   <div class="container" id="chart-container"></div>
   <script>
      document.addEventListener("DOMContentLoaded", function () {
         var contextData = {{ currency_quotes|safe }};
         var seriesData = {};
   
         // Organize os dados em séries com base em currency_code
         contextData.forEach(function (item) {
            var date = new Date(item.date).getTime();
            var currencyCode = item.currency_code;
            var exchangeRate = parseFloat(item.exchange_rate);
   
            if (!seriesData[currencyCode]) {
               seriesData[currencyCode] = {
                  name: currencyCode,
                  data: []
               };
            }
   
            seriesData[currencyCode].data.push([date, exchangeRate]);
         });
   
         var series = [];
   
         for (var currencyCode in seriesData) {
            if (seriesData.hasOwnProperty(currencyCode)) {
               series.push(seriesData[currencyCode]);
            }
         }
   
         const chartOptions = {
            chart: {
               type: 'line',
            },
            title: {
               text: 'Gráfico de Cotações de Moedas'
            },
            xAxis: {
               type: 'datetime',
               title: {
                  text: 'Data'
               }

            },
            yAxis: {
               type: 'logarithmic',
               title: {
                  text: 'Valor (Escala Logarítmica)'
               },
               tickInterval: 3
            },
            legend: {
               layout: 'vertical',
               align: 'left',
               verticalAlign: 'middle'
            },
            series: series
         };
         Highcharts.chart('chart-container', chartOptions);
      });
   </script>   
   <script src="https://code.highcharts.com/highcharts.js"></script>
</body>
</html>
